
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body {
      font: 13px Helvetica, Arial;
    }
    
    form {
      background: #000;
      padding: 3px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
    
    form input {
      border: 0;
      padding: 10px;
      width: 19%;
      margin-right: .5%;
    }
    
    button {
      background: rgb(130, 224, 255);
      border: none;
      padding: 10px;
    }
    
    button.green {
      background: rgb(130, 224, 130);
    }
    
    #templates button {
      width: 90%;
      background: rgb(130, 224, 255);
      border: none;
      padding: 10px;
      margin: 2px;
    }
    
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    li {
      padding: 5px 10px;
    }
    
    #debugmessages li:nth-child(odd) {
      background: #eee;
    }
    
    #main {
      float: left;
      width: calc(100% - 270px);
    }

    #debug {
      background: #ccc;
      position:absolute;
      top:170px;
      right:10px;
      width: 400px;
      height: 400px;
      overflow:scroll;
    }
    
    #gameui { 
      background: #cfc;
      width: 400px;
      height: 150px;
      padding: 0.5em; 
      position:absolute;
      top:10px;
      right:10px;
    }
    
    #tankui { 
      background: #fcc;
      width: 250px;
      height: 150px;
      padding: 0.5em; 
      position:absolute;
      top:10px;
      right:420px;
    }
    
    #gamenotification {
      position:fixed;
      top: 50%;
      left: 50%;
      width:30em;
      padding:1em;
      margin-top: -9em; /*set to a negative number 1/2 of your height*/
      margin-left: -15em; /*set to a negative number 1/2 of your width*/
      text-align: center;
      border: 1px solid #ccc;
      background-color: #f3f3f3;          
    }